body {
	height:100%;
}

body, input, button {
	font-size:1em;
}

html,body {
	margin:0;
	padding:0;
	font-family:sans-serif;
	color:#000;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
}

h1 {
	color:#00A;
	margin:10px 0;
	clear:both;
}

.red {
	color:#f33;
}

#waiter {
	width:auto;
	height:auto;
	padding: 10px;
	position:absolute;
	background-color:#fff;
	-moz-box-shadow: 0 0 10px #333 inset;
	-webkit-box-shadow: 0 0 10px #333 inset;
    box-shadow: 0 0 10px #333 inset;
	border-radius:10px;
	z-index: 10;
	
}
#waiter .msg {
	text-align:center;
	font-weight:bold;
}

#msgBox {
	width:60%;
	height:300px;
	position:absolute;
	background-color:#fff;
	border:solid 1px #000;
	z-index:10;
	-moz-box-shadow: 0 0 50px black;
	-webkit-box-shadow: 0 0 50px black;
	text-align:center;
}

#msgBox .contents {
	height:65%;
	font-size: 20px;
	padding: 5% 5% 0 5%;
}

#msgBox .buts {
	height:15%;
	line-height:	30px;
}

#msgBox .buts>span, #msgBox .buts>div {
	height:30px;
	border:solid 1px #000;
	padding:15px 40px;
	cursor:pointer;
	margin:10px auto 0;
	font-size: 20px;
	background-color:#ddd;
}

#overlay {
	position:absolute;
	top:0;
	left:0;
	background-color:#000;
	opacity:0.5;
	z-index:9;
}

#luasInfo  {
	font-size: 1em;
}

#luasInfo  div.location {
	clear:left;
	float:left;
	width:75%;
	padding-right:5px;
}

#luasInfo  div.time {
	width:25%;
	float:right;
}

#luasInfo  div.location, #luasInfo  div.time {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

div#footer {
	font-size:0.5em;
	text-align:center;
	width:100%;
	padding: 10px 0;
	clear:both;
}

div.add-bus {
	margin-top:10px;
	border-top: solid 5px #000;
	background-color:#ddd;
	padding:30px 0;
}

div.Inbound, div.Outbound {
	background-color:#000;
	padding: 2%;
	float:left;
	width:45%
}

div.Inbound div, div.Outbound div{
	color:#fff;
}

div.Inbound div.grey, div.Outbound div.grey{
	background-color:#444;
}

div.Inbound h4, div.Outbound h4 {
	color:#FFEB00;
}

div.location:nth-child(2n+1) {
	background-color:#222;
}

#luasInfo div.location, #luasInfo div.time {
	padding:10px 0;
}


/***** BUS ENTRY  *****/
div.route-entry {
	width:100%;
}

div.route-entry .congestion {
	color: #f00;
}

div.route-entry table {
	width: 100%;
	background-color:#000;
}

div.route-entry table td {
	vertical-align:middle;
	color:#fff;
	padding:10px;
	height:100%;
}

div.route-entry table tr:nth-child(2n+1) {
	background-color:#444;
}

div.route-entry h3 {
	margin: 10px 0;
}